<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :instructions %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.association :ingredients %>
  <div class="ingredient_descriptions">
  </div>
  <%= f.button :submit, class: "btn btn-success mt-3" %>
  <%= link_to 'cancel', root_path, class: "btn btn-danger mt-3"  %>
<% end %>
